
/* rgb(53, 21, 93)
rgb(81, 43, 129)
rgb(68, 119, 206)
rgb(140, 171, 255) */

body{
    background-color: rgb(140, 171, 255);
    display: flex;
    justify-content: center;
    /* color: rgb(53, 21, 93); */
    color: whitesmoke;

    text-align: center;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app{
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 23px;
    width: 700px;
    background-color: rgb(68, 119, 206);
    box-shadow: 20px 20px rgb(81, 43, 129);
}

.polls{
    margin: 50px;
    background-color: rgb(81, 43, 129);
    padding: 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 18px 18px rgb(36, 9, 68);
    letter-spacing: 1.78px;
}

.answerbutton{
    display: flex;
    justify-content: center;
}

.button{
    margin: 20px;
    background-color: rgb(68, 119, 206);
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 8px;
    box-shadow: ;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
}

#next{
    margin: 20px;
    background-color: rgb(68, 119, 206);
    padding: 5px;
    border-radius: 5px;
    display: none;
}

#exb{
    background-color: rgb(81, 43, 129);
    border: none;
}

/* Point A - Simple Css layout for visuals */

.correct{
    /* background-color: rgb(0, 153, 255); */
    background-color: rgb(63, 134, 221);
}

.incorrect{
    background-color: #789fc5;
}

/* Point B - clicking can edits colors, sizes, fonts, etc, */